body{
    background-image: url(../images/home3.jpg);
    background-size: 100% 100%;
    background-repeat : no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

html,
body {
    height: 100%;
}*/
html, body {
background: url(..images/home.jpg) no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.container {
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo', sans-serif;
    color:white
}
.container2 {
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    color:white
}

.navbar {
    background-color: #36454f;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.btn{
    color:white;
    font-family: 'Bungee Inline', cursive;
}

.btn:hover {
    color: green;
}


#programmer{
    font-family: 'Press Start 2P', cursive;
}














