
body{
    background-image: url(../images/about.jpg);
    background-size: 100% 100%;
    background-repeat : no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.head{
    font-family: 'Playfair Display', serif;
    color:white
}
.self{
    font-family: 'Cormorant Garamond', serif;
    color: white;
}