.jumbotron {
    background-color: #343a40; /* Orange */
    color: #ffffff;
    }
.navbar-brand, #myviews{
    font-family:'Playfair Display', serif;
}
.btn{
    color:white;
    font-family: 'Bungee Inline', cursive;
}

#exp{
    font-family: 'Amatic SC', cursive;
}