{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Connect with me</title>

 <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/connect.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stalemate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <!--  <div class="container">
        <div id="one"><a href="#"><img src="/static/images/github_logo.png" ></a></div>
        <div id="two"><a href="#"><img src="/static/images/github_logo.png"></a></div>
        <div id="three"><a href="#"><img src="/static/images/github_logo.png"></a></div>
    </div>
    <div class="container">
  <div class="row justify-content-end">
    <div class="col-4">
     <a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a>
    </div>
    <div class="col-4">
      <a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a>
    </div>
    <div class="col-4">
      <a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a></
    </div>
  </div>
</div>!-->
   <!-- <div class="row1"><a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a></div>
    <div class="row1"><a href="#"><img src="/static/images/quora.jpg" class="img-responsive"></a></div>
    <div class="row1"><a href="#"><img src="/static/images/quora.jpg" class="img-responsive"></a></div>!-->
<div class="container">
    <div id="but"><a href="{% url 'home' %}" ><button type="button" class="btn btn-md">HOME</button></a></div>
<div class="container-fluid text-center">
  <h2 style="font-family: 'Raleway', sans-serif; color:white"><strong>Profiles</strong></h2>
  <br>
    <br>
    <br>
  <div class="row">

      <div class="col-sm-4">
        <a href="mailto:way2aman@gmail.com?Subject=Hello"><span class="glyphicon"><img src="/static/images/gmail_logo.png" class="img-responsive img-circle"></span>
            <p>Let's just talk</p></a>
      </div>

            <div class="col-sm-4">
        <a href="mailto:amanvats@protonmail.com?Subject=Hello"><span class="glyphicon"><img src="/static/images/protonmail.png" class="img-responsive img-circle"></span>
            <p>Let's talk securely</p></a>
      </div>

    <div class="col-sm-4">
        <a href="https://github.com/amanvats"><span class="glyphicon"><img src="/static/images/github_logo.png" class="img-responsive img-circle"></span>
            <p>Open Source Repositories</p></a>
    </div>
  </div>
    <br><br><br><br>
   <div class="row">

           <div class="col-sm-4 mt-1">
        <a href="https://www.hackerrank.com/The_Vats"><span class="glyphicon"><img src="/static/images/hackerrank.jpg" class="img-responsive img-circle"></span>
            <p>Practice!Practice!</p></a>
    </div>

      <div class="col-sm-4">
        <a href="https://www.hackerearth.com/@The_Vats"><span class="glyphicon"><img src="/static/images/hackerearthlogo.png" class="img-responsive img-circle"></span>
            <br><p>My First coding platform</p></a>
      </div>

      <div class="col-sm-4">
        <a href="https://www.spoj.com/users/troubleshooter/"><span class="glyphicon"><img src="/static/images/spoj_logo.png" class="img-responsive img-circle"></span>
            <br><p>Love this platform</p></a>
      </div>

    </div>

<br><br><br><br>
   <div class="row">

      <div class="col-sm-4">
        <a href="https://www.quora.com/profile/Aman-Vats-5/"><span class="glyphicon"><img src="/static/images/quora_logo.png" class="img-responsive img-circle"></span>
            <p>Avid Reader, not answered though</p></a>
      </div>

      <div class="col-sm-4">
        <a href="https://angel.co/amanvats"><span class="glyphicon"><img src="/static/images/angel.png" class="img-responsive img-circle"></span>
            <br><p>For my love of startups</p></a>
      </div>

      <div class="col-sm-4">
        <a href="https://www.paypal.me/vatsaman"><span class="glyphicon"><img src="/static/images/paypal.png" class="img-responsive img-circle"></span>
            <br><p>In case you owe me¯\_(ツ)_/¯</p></a>
      </div>

    </div>

<br><br>
</div>
</body>
</html>