{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aman Vats</title>
     <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Work+Sans:200&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <!--<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">ShareNear</a></li>
        <li><a href="#">MyViews</a></li>
        <li><a href="#">AskMe</a></li>
      </ul>
    </div>
  </div>
</nav>-->
  <div class="btn-group btn-group-justified">
  <a href="{% url 'me' %}" class="btn">Me</a>
  <a href="{% url 'projects' %}" class="btn">Projects</a>
      <a href="{% url 'connect' %}" class="btn">Contact</a>
</div>
<div class="container">
    <div style="background:transparent !important" class="jumbotron">
        <h1>Hi, I'm Aman Vats</h1>
    </div>
</div>
 <br><br>
<div class="container2">
        <div class="text-center">

            <h3 style="color:#e6b800">Observer,<span id="programmer"  style="color:green" ><br/>programmer;</span></h3>
            <p>Birla Institute of Technology Graduate</p>
             <p>Tech Enthusiast,</p>
            <p>C, C++, Python, Django</p>
            <p>Data Structure & Algorithm, Computer Networking</p>
            <p>Analyst</p>
    </div>
</div>
</body>
</html>