{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aman Vats</title>
     <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/me.css' %}">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-center">
    <a href="{% url 'home' %}"><h1 class="head">Aman Vats</h1></a>
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-md-8 self text-left align-right">
                <h4>Hi, I am Aman Vats. Thank You for your time.</h4>
                <br>
                <h4>I love technology. I like the way it has changed the human civilisation and is contributing every day to make this place better. I believe technology has the potential to solve most of the problems we face.</h4>
                <br>
                <br>
                <h4>Believing it, I started learning to program at the beginning of 3rd year of my engineering. I knew C programming language since it was in the curriculum of my first year.  I started learning C++ particularly STL and OOP concepts. During that time, I also got interested in online programming judges. So, I started solving problems on HackerEarth and after solving around 200 problems, I became confident of my ability to implement a programming logic in code(C++).  While I was spending time solving problems on online judges like Spoj, HackerEarth, and participating in competitions on Codeforces, I also got interested in Development.  Let me take a moment to state that I am a huge Quora fan, an avid reader. I like to read blogs, quora, and everything related to the fields I am interested in. So, after reading and doing some research I decided to learn Python and Django. Spending time with Django and developing small projects using it made me comfortable in it. I would like to take a moment to mention that I am not very good/as good in python as I am in C++. But I can get things done wherever required for a Django project. Now, I would like to talk about my journey of competitive coding. I believe that to excel in competitive programming, you need to spend a lot of your time doing that. But if you just want to learn data structures and algorithm, you can learn those algorithms even if you are solving problems on online judges outside of competitive coding. You can read the line of <a href="https://qr.ae/TUtgDl">this</a> answer by Quora founder Adam D'Angelo<a href="http://stats.ioinformatics.org/people/28"> (who is himself an IOI silver medalist)</a> to understand this. So, I used to solve problems outside of competition and trust me, it solved my purpose of learning Algorithms, data structure and more importantly taught me how to think, how to break a problem and think on solving the sub-problems and getting the code Accepted.</h4>
                <h4>I got placed in 7th semester and when I reached the 8th semester, I got very much interested in computer networking. I believe the Internet is undoubtedly the greatest invention of modern days. It has changed us, society and will keep doing so. So, I took CS144 course of Stanford University, did socket programming and enjoyed learning Networking. CS144 is a great course.</h4>
                <h4>Now, I wish to learn AI(ML particularly), Blockchain Technology and Cybersecurity. I will not be honest if I don't mention that the reason behind my passion for technology is not just interest, or getting a job or fear of missing out. It's a combined effect of interest and the fact that I always wanted to make myself expert enough to implement a technical solution to a problem. I don't want to be someone who has an idea but can't implement that. I wanted to become technically good to develop a product whenever I wish to and I am working hard to become one such.</h4>
                <br><br>
                <h3>My Codes can be found here:</h3>
                <ul><a href="https://www.hackerearth.com/@The_Vats">HackerEarth</a></ul>
                <ul><a href="https://www.spoj.com/status/troubleshooter/">Spoj</a></ul>
                <ul><a href="https://github.com/amanvats">Github</a></ul>
                <ul><a href="https://bitbucket.org/vatsaman/">Bitbucket(but contains only private repositories</a></ul>
                <br><br><br><br>
            </div>
        </div>
    </div>
    <div class="footer">Thank You For Your Time</div>
</div>
</body>
</html>