{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects</title>
     <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">



<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h4 id="myviews"><a href="{% url 'home' %}">Aman Vats</a></h4>
    <h1 id="myviews">Projects</h1>
    <p id="exp">Necessity is the mother of invention. <br>Most of these projects are developed because I felt its need at some point.</p>
</div>
<div class="container-fluid" style="background-color:#042435">
    <div class="row pb-5 mb-2" style="margin-top:-30px">
        <div class="col-md-4 col-xs-12">
            <div class="thumbnail">
                <img src="/static/images/logo1.png" alt="ShareNear" class="img-responsive av">
            </div>
        </div>
        <div class="col-md-8 col-xs-12 whiten">
            <h2 class="text-center"><span id="company">Share<span style="color:yellow">Near</span></span></h2>
            <p id="detail">If you like playing computer games and wish to play WWE2K18 which is a 50GB file, or around Rs 1500 on Flipkart.  Wouldn't it be great if I tell you that someone living next door already has that?
So, this is the idea behind ShareNear. You are not taking the risk of downloading a file from torrent (which has malware almost everytime and is illegal too), neither you are spending your money. But you will make a new friend whose interest aligns with yours.</p>
            <br>
            <p id="detail"><a href="https://sharenear.in/">Sharenear </a>eliminates the need for downloading large files. It is one of those projects that I developed because I really needed it. Sharenear allows you to look for large data files like TV Series, Movies Collection, Games near you. </p>
            <p id="detail">Search on <a href="https://sharenear.in/">ShareNear</a> and go,get that file.</p>
            <h3 id="detail">You can use the application at <a href="https://sharenear.in/">www.sharenear.in</a></h3>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#042435">
    <div class="row pt-4 pb-4 mb-2">
        <div class="col-md-8 col-xs-12 whiten">
            <h2 class="text-center"><span id="company">Donna</span></h2>
            <p id="detail">Donna is a virtual assistant(like Alexa) that responds to my questions. She reads the latest news for me, and answer almost all
                types of questions. For answering who/what questions, she gathers information from Wikipedia, for location based question she gathers information
            from Google Maps. For all complex questions, she gathers information from Quora, which makes her possible to answer almost all questions</p>
            <h3 id="detail"><a href="https://github.com/amanvats/My-Personal-Assitant/blob/master/assist.py">Here</a> is the source code for Donna</h3>
            <h5 id="detail">I used to watch TV Series Suits when I was developing it. So, the name <em>"Donna"</em></h5>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="thumbnail">
                <img src="/static/images/donna.jpg" alt="ShareNear" id="donna" class="img-responsive pull-right">
            </div>
        </div>

    </div>
</div>
<div class="container-fluid" style="background-color:#042435">
    <div class="row pt-4 pb-4 mt-2 ">
        <div class="col-md-4 col-xs-12">
            <div class="thumbnail">
                <img src="/static/images/proj.jpeg" alt="ShareNear" id="donna" class="img-responsive">
            </div>
        </div>
        <div class="col-md-8 col-xs-12 whiten">
            <h2 class="text-center"><span id="company">Computational Biology approach for studying Lung Cancer</span></h2>
            <p id="detail">Performed identification and characterisation of novel cancer biomarkers through transcriptome screening in non small cell lung
                cancer patients. A systems biology approach was employed to study the network of genes to find out a bio-marker.</p>
            <h4 id="detail">The project was presented at<a href="https://bitmesra.ac.in/ICCI/default?page=icci&pid=home" > International Conference on Computational Intelligence (ICCI 2018)</a> whose proceedings is soon to be
            published in Springer</h4>
        </div>
    </div>
</div>

<div class="footer" style="background-color: #e6b800">
    <p class="text-center">For all other coding projects, please visit <a href="https://github.com/amanvats">Github Profile</a>. Thank You</p>
</div>
</body>
</html>













