{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Views</title>
     <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/writings.css' %}">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">



<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand" href="{% url 'home' %}">Aman Vats</span></a>

</nav>
<div class="jumbotron text-center">
    <h1 id="myviews">My Views</h1>
    <br>
    <br>
    <p id="exp">I like to discuss Technology, Start up, Physics, Indian Politics, Education, Teaching, Psychology, innovation & future of human civilization.</p>
    <p id="exp">Here, I will be sharing my views on mentioned topics.</p>
  </div>
<div class="container-fluid">
    {% for article in articles %}
       <strong>{{ article.title }}</strong>
    <br/><br/>
    {{ article.get_short }}<a href="{% url 'article' article.pk %}">...read more</a>
</br>
    </br></br>
    {% empty %}
<h5 class="card text-center">I have not yet written any article.</h5>
    {% endfor %}
</div>
</body>
</html>


















